<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Verifying Email</title>
</head>
<body>
<h2>Thank you for verifying Email please login here</h2>
    <a href="/Home/Login">Proceed to Login</a>
</body>
</html>