<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to Home Page</h1>
    @*Simple access and quick check *@
    @if(User.Identity.IsAuthenticated)
    {
        <h1>User is Authenticated</h1>
    }
    else
    {
        <h1>user is not Authenticated</h1>
    }
    @*Big Guns reusable Function*@
    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService authorizationService
    @if((await authorizationService.AuthorizeAsync(User,"Claim.DoB" )).Succeeded)
    {
        <h1>User has DoB Claim</h1>
    }
</body>
</html>